<% include head.ejs %>
<link rel=stylesheet href="/findYourWish.css">
<!--<link rel=stylesheet href=/index.css>-->

<% include nav.ejs %>

<title>Our Wish - Find Your Wish</title>
<h1>Find Your Wish</h1>


<% for (var index = 0; index < data.length; index++) { %>
<section id="person" class="person">
<img class="personImage" src="<%= data[index].pictures[1] %>" alt="<%= data[index].name %>">
<p class="personName"><%= data[index].name %></p>
<p class="personAge"><%= data[index].bornDate %></p>
<p class="personPlace"><%= data[index].place %></p>
<a href="/<%= data[index]._id %>">View Profile</a>
<ul>
<li>
<%= data[index].name.slice(0, data[index].name.indexOf(" ")) %> has
<%= data[index].eyeColor %> eyes
</li>
<li>
<%= data[index].name.slice(0, data[index].name.indexOf(" ")) %> has
<%= data[index].hairColor %> hair
</li>
<li>
<%= data[index].name.slice(0, data[index].name.indexOf(" ")) %> has
<%= data[index].hairLength %> hair
</li>
</ul>
</section>
<% } %>







<section id="matchlist" class="match">



</section>



<% include tail.ejs %>



<% include tail.ejs %>





